@CHARSET "UTF-8";

h3{
	background-color: #DDD;
	color: #000;
	padding-left: 20px;
}

.req-label{
	font-weight: bold;
}

.field-keys{
	background-color: #DDDDDD;
	border-top:2px solid navy;
	border-bottom:2px solid navy;
	padding-left: 20px;
}

.error-message{
	color: #00F;
}

.placeholder{
	color: #AAA;
}

#search-text{
	font-size: 0.9em;
	font-family: serif;
}